@font-face {
	font-family: 'riffic';
	src: url('../font/riffic/RifficFree-Bold.ttf') format('truetype');
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

  @keyframes movimento {
	from {
	  transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
  }
  
body{
	background-color: #2A4562;
	font-family: 'riffic', sans-serif;
	animation: fadeIn 1.5s ease-in;
}

.str0 {stroke:#72706F;stroke-width:76;stroke-linecap:round;stroke-linejoin:round}
.str4 {stroke:#C2C1C1;stroke-width:76}
.str2 {stroke:#131516;stroke-width:76;stroke-linecap:round;stroke-linejoin:round}
.str5 {stroke:#D82B40;stroke-width:76}
.str1 {stroke:#72706F;stroke-width:353;stroke-linecap:round;stroke-linejoin:round}
.str3 {stroke:#131516;stroke-width:353;stroke-linecap:round;stroke-linejoin:round}
.str7 {stroke:#1F1A17;stroke-width:706}
.str6 {stroke:#D82B40;stroke-width:1058}
.fil3 {fill:none}
.fil4 {fill:#FFFFFF}
.fil0 {fill:#9DBDDD}
.fil1 {fill:#EEDDB3}
.fil2 {fill:#F6EAD9}
.fil6 {fill:#D82B40}
.fil5 {fill:#ECECEB}

.clickable-municipality {
    fill:#F6EAD9;
	/*fill: #F6EAD9;*/
	stroke: #131516;
	stroke-width: 200;
    transition: fill 0.3s;
    cursor: pointer;

}

.clickable-municipality:hover {
    fill: #2A4562;
}

#tooltip {
	position: absolute;
	background-color: #1e1e1e;
	color: #F6EAD9;
	z-index: 10000;
	padding: 6px 10px;
	border-radius: 6px;
	font-size: 14px;
	white-space: normal;
	word-wrap: break-word;
	max-width: 100px;
	text-align: center;         
	display: flex;           
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
}

#svg{
	filter: drop-shadow(2px 2px 2px black);
}

#container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;


	& #container-svg{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50vw;
	}

	& #container-texto{
		display: flex;
		flex-direction: column;
		justify-content: start;
		height: 70vh;
		width: 50vw;
		padding-left: 5vw;
		animation: movimento 1.5s ease-out;

		& #ifpe{
			display: flex;
			justify-content: start;
			align-items: center;
			margin-bottom: 20vh;
	
			& #texto{
				color: #F6EAD9;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 2px;
				filter: drop-shadow(2px 2px 2px black);
			}
	
			& #logo{
				& img{
					width: 7vh;
					filter: drop-shadow(2px 2px 2px black);
				}
			}

		}
		& #textos{
			& #titulo{
				color: #F6EAD9;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 50px;
				letter-spacing: 2px;
				margin-bottom: 2vh;
				filter: drop-shadow(2px 2px 2px black);
			}
		
			& #subtitulo{
				color: #F6EAD9;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 2px;
				filter: drop-shadow(2px 2px 2px black);
			}
		}
	}
}