@font-face {
    font-family: 'riffic';
    src: url('../font/riffic/RifficFree-Bold.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: #FFFFFF;
    color: #2A4562;
    font-family: 'riffic', sans-serif;
    padding-top: 1vw;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #2A4562;
    width: fit-content;
}

#ifpe {
    display: flex;
    align-items: center;
    height: 9vh;
    margin-left: 9vh;
    margin-bottom: 1vh;

    & #texto {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
    }

    & #logo {
        & img {
            width: 7vh;
            filter: drop-shadow(1px 1px 1px black);
        }
    }
}

#introducao{
    display: flex;
    background-color: #2A4562;
    flex-direction: row-reverse;
    color: #FFFFFF;
    height: 80vh;

    & #bandeira{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        & img{
            width: 80%;
            height: auto;
            max-height: 80%;
            border-radius: 10px;
            filter: drop-shadow(2px 2px 2px black);
        }
    }

    & #descricaoCidade{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        

        & #nome{
            font-size: 50px;
            filter: drop-shadow(2px 2px 2px black);
            margin-bottom: 2vh;
        }

        & #introducaoCidade{
            width: 70%;
            text-align: center;
            filter: drop-shadow(2px 2px 2px black);
            letter-spacing: 1px;
        }
    }
}

#detalhes {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 10vh;
    margin-bottom: 5vh;
    

    & #descricao {
        width: 40%;
        font-size: large;
        padding-right: 6vh;
    }

    & img {
        width: 40%;
        height: 30%;
        max-height: 80%;
        max-width: 80%;
        margin-right: 3vw;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px black);
    }
}

#pontos-turisticos {
    background-color: #2A4562;
    color: #FFFFFF;
    padding-top: 5vh;
    padding-left: 10vh;

    h1 {
        filter: drop-shadow(2px 2px 2px black);
    }
}

#detalhes-turismo {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;

    & #descricao-turismo {
        width: 40%;
        font-size: large;
        padding-right: 6vh;
        filter: drop-shadow(2px 2px 2px black);
    }

    & img {
        width: 40%;
        height: 30%;
        max-height: 80%;
        max-width: 80%;
        margin-right: 3vw;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px black);
    }
}