@font-face {
    font-family: 'riffic';
    src: url('../font/riffic/RifficFree-Bold.ttf') format('truetype');
}

body {
    margin: 0; /*remove a margem padrao do navegadpr ao redor da pagina, deixando o conteudo encostado nas bordas*/
    background-color: #FFFFFF; 
    color: #2A4562;
    font-family: 'riffic', sans-serif;
    padding-top: 1vw;/*adiciona um epaço no topo da pagina, 1% na largura da janela, o vw significa que o padding é responsivo*/
    letter-spacing: 1px; /*espaçamento entre as letras*/
}

a {
    text-decoration: none;  /*tira o sublinhado do links*/
    color: #2A4562; /*define a cor deles para esse azul*/
    width: fit-content; /*ajusta ao tamamho do texto dentro deles*/
}

#ifpe {
    display: flex; /*permite fazer um alinhamento mais flexivel*/
    align-items: center; /*alinha verticlmente os itens no centro*/
    height: 9vh; /*define a altura da loho para 9% da altura visivel da tela*/
    margin-left: 9vh; /*adiciona uma margem de 9vh, afasta o elementoum pouco da borda esquerda*/
    margin-bottom: 1vh; /*adicona uma margem inferior de 1% da altura da tela*/

    & #texto {  /*o & usado para referenciar o seletor do elemento atual onde ele está. Ou seja, ele permite escrever regras de forma mias compacta sem precisar repetir o seletor completo*/
        text-transform: uppercase;  /*deixa maiusuclo*/
        font-size: 14px; /*tamanho da fonte*/
        letter-spacing: 2px; /*espacamento das letras*/
    }

    & #logo {
        & img {
            width: 7vh; /*define  largura da imagem dentro da logo como 7% da altura da tela*/
            filter: drop-shadow(1px 1px 1px black); /*aplica uma sombra levemente deslocada para a direita e para baixo e com um leve desfoque, na cor preta*/
        }
    }
}

#introducao{
    display: flex; 
    background-color: #2A4562;
    flex-direction: row-reverse;
    color: #FFFFFF;
    height: 80vh;

    & #bandeira{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        & img{
            width: 80%;
            height: auto;
            max-height: 80%;
            border-radius: 10px;
            filter: drop-shadow(2px 2px 2px black);
        }
    }

    & #descricaoCidade{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        

        & #nome{
            font-size: 50px;
            filter: drop-shadow(2px 2px 2px black);
            margin-bottom: 2vh;
            text-align: center;
        }

        & #introducaoCidade{
            width: 70%;
            text-align: center;
            filter: drop-shadow(2px 2px 2px black);
            letter-spacing: 1px;
        }
    }
}

#detalhes {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    margin-left: 10vh;
    margin-bottom: 5vh;
    

    & #descricao {
        width: 40%;
        font-size: large;
        padding-right: 6vh;
    }

    & img {
        width: 40%;
        height: 30%;
        max-height: 80%;
        max-width: 80%;
        margin-right: 3vw;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px black);
    }
}

#pontos-turisticos {
    background-color: #2A4562;
    color: #FFFFFF;
    padding-top: 5vh;
    padding-left: 10vh;

    h1 {
        filter: drop-shadow(2px 2px 2px black);
    }
}

#detalhes-turismo {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;

    & #descricao-turismo {
        width: 40%;
        font-size: large;
        padding-right: 6vh;
        filter: drop-shadow(2px 2px 2px black);
    }

    & img {
        width: 40%;
        height: 30%;
        max-height: 80%;
        max-width: 80%;
        margin-right: 3vw;
        border-radius: 10px;
        filter: drop-shadow(2px 2px 2px black);
    }
}