/*Limpar formatações padrao*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1.2em;
	font-family: georgia, Helvetica, "Trebuchet MS", sans-serif;
	background: #050609;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

/*
**** Formatacoes gerais ****
*/

#tooltip {
	position: absolute;
	background-color: #1e1e1e;
	color: #fff;
	padding: 6px 10px;
	border-radius: 6px;
	font-size: 14px;
	white-space: nowrap;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.5s;
  }
